/******
/	NSI
/ v.0.1
******/

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.affix {
  width: inherit;
  position: fixed;
  top: 50px;
}
.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 200px;
}
.affix-top {}






